# Git
.git
.gitignore
.dockerignore

# Python
**/.venv
**/venv
**/__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info/
build/
dist/

# Node.js
node_modules/
.next/
npm-debug.log
**/node_modules

# IDE/Editor specific
.vscode/
.idea/
*.swp
*.swo

# Other
.DS_Store
*.log
docs/
notebooks/
tests/
pgvector/
generated/
devlog/
html/
public/
terraform/
src/

# Environment variables
.env
aiservice/.env
aiservice/.venv/

# Exclude test files
tests/
aiservice/tests/

# Exclude IDE folders
.idea/
.vscode/

# Cloud stuff
cloud_sql_proxy.exe

# Backups
*.bak

# Local Next.js build artifacts
.next/

# Jest cache
.jest/

# Temporary files
*.tmp

# OS-specific files
Thumbs.db

# We want to include the README.md in aiservice, so we un-ignore it.
!aiservice/README.md
# But not the root one for now
README.md 